<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
<body>
    <form action="/users" method="post">
        <input type="text" name="name" placeholder="Add Name">
        <input type="number" name="age" placeholder="Add age">
        <input type="text" name="e-mail" placeholder="Add email">
        <div>
            <button>Create User</button>
        </div>
    </form>
</body>
</html>