<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Commission new agent</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <style>
        body { font-family: "Open sans", sans-serif; line-height: 1.5; }
        nav { display: flex; justify-content: space-between; padding: 10px; } 
        .umbrella { color:crimson; font-size: 19px; font-weight: 800; text-transform: capitalize;  }
        .add-agent { background-color: magenta; font-size: 15px; font-weight: 800; color: white; padding: 7px 13px; border-radius: 4px; border: none;}        
        .back { background-color:darkblue; font-size: 15px; font-weight: 800; color: white; padding: 7px 13px; border-radius: 4px; border: none;}
        a { text-decoration: none; }
        form { background: none; padding: 10px; border-radius: 8px; width: 60%; text-align: center; margin: 0 auto; }
        .form-control { display: inline-block; width: 80%; padding: 12px 16px; margin: 10px; font-family: 'Courier New', Courier, monospace; }
        fieldset { text-align: center; }
        .form-elm { margin: auto; }
        .submit { display: block; margin: 0 auto; padding: 12px 14px; background-color:firebrick; color: white; text-decoration: none; text-transform: uppercase; font-weight: 600; border: none; }
        .submit:hover { color: black}
    </style>
<body>
    <nav>
        <a href="/">
            <div class="umbrella">Umbrella</div>
        </a>
        <a href="/users">
            <button class="back">Back</button>
        </a>
    </nav>
    <main>
        <div class="form-elm">
            <form method="POST" action="/users">
                    <h2>Add Agent</h2>
                    <input class="form-control" name="name" type="text" placeholder="Add Agent's Name">
                    <input class="form-control" name="email" type="text" placeholder="Add Agent's email">
                    <input class="form-control" name="age" type="number" placeholder="Add Agent's age">
                    <textarea class="form-control" name="address" rows="5" placeholder="Add Agent's Address"></textarea>
                    <textarea class="form-control" name="bio" rows="5" placeholder="Add Agent's Bio"></textarea>
                    <input class="form-control" name="hobbies" type="text" placeholder="Add Agent's hobbies">
                    <div>
                        <button class="submit" type="submit">add agent</button>
                    </div>
            </form>
        </div>
    </main>
</body>
</html>