<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Page Title</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            body { background-color: crimson; }
            p { font-family: "Open sans", sans-serif; font-size: 48px; font-weight: 800; color: white;}
        </style>
    </head>
<body>
    <p>ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. ERROR. </p>
</body>
</html>